<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../../assets/dist/css/application.css">
    <script src="../../assets/dist/js/application.js"></script>
  </head>
  <body>
    {{{@body}}}
  </body>
</html>