form(action = action method = method)
  input.js-select(name='body' type='hidden')

  label Title
  input(name='title' type='text')

  label Publish?
  input(name='published' type='checkbox')

  label Enable Comments?
  input(name='commentable' type='checkbox')

  .js-wysiwyg

  button Create
