extends ../layouts/base.pug

block content
  .container
    if articles.length
      each article in articles
        = article.title
        != article.body
        = article.published
    else
      h2 No articles
    