extends ../layouts/base.pug

block content
  .container
    if articles.length
      each article in articles
        = article.title
        != article.body
        = article.published
        
        if article.commentable
          include comments
    else
      h2 No articles
    
    