extends ../layouts/base.pug

block content
  .container
    h1 Article Title
    p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in enim metus. In imperdiet erat ex, non tempor neque bibendum et. Duis sit amet pellentesque neque. 
    p.callout This is a quote responding too
    p Cras posuere aliquet semper. Nulla egestas dictum vulputate. Donec laoreet, magna sit amet tincidunt sodales, dui turpis condimentum ex, vel aliquet metus augue a lorem. Mauris dictum mollis mauris et scelerisque. Maecenas ut leo eu libero vestibulum fringilla. Donec consequat ex sed accumsan finibus. Integer nec faucibus velit. Phasellus pharetra libero vitae metus porta, at pharetra dolor pretium. Nulla varius, tellus eu gravida feugiat, nisi lacus fermentum mi, sed facilisis magna nisl vel mi. Quisque cursus ut diam a laoreet. Pellentesque nibh lectus, blandit et dictum vel, dictum id est. Nulla dictum nulla at nisl tristique lacinia.s